@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

#cart.active {
  color: #088178;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}



/* Navbar  */
#nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #e3e6f3;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

#navUl {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLi {
  list-style: none;
  align-content: center;
  padding: 0px 20px;
  position: relative;
}

.navLi a {
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  text-decoration: none;
  padding: 5px 0px;
  transition: 0.2s ease;
}

li a:hover, 
li a.active {
  color : #088178 ;
}

li a:hover::after , 
li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}



#nav .mobile {
  display: none;
  text-align: center;
}

#close {
  display: none;
}


/* Home page banner */
#mainBanner {
  height: 90vh;
  width: 100%;
  background-image: url(/img/hero4.png);
  background-size: cover;
  display: flex;
  padding: 0 80px;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  background-position: top 25% right 0;
}


#mainBanner h1 {
  color: #088178;  
}
#mainBanner button {
  background-color: transparent;
  background-image: url(/img/button.png);
  background-size: cover;
  border: 0;
  padding: 14px 80px 14px 65px;
  width: 250px;
  font-size: 16px;
  font-weight: 800;
  color: #088178;
}

#groupOfFeatures {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Features */

.feature {
  text-align: center;
  width: 180px;
  padding: 25px 15px;
  box-shadow: 10px 10px 50px rgba(70, 62, 221, 0.1);
  justify-items: center;  
  border: 1px solid #cce7d0;
  border-radius: 5px;
  margin: 15px 0px;
  transition: 0.3s ease;
}

.feature:hover {
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
}

.feature img {
  width: 100%;
  margin-bottom: 5px;
}

.feature h6 {
  padding: 10px 5px;
  font-weight: 700;
  font-size: 16px;
  color: #088178;
  background-color: #fddde4;
  border-radius: 5px;
  line-height: 1;
  display: inline-block;
}

.feature:nth-child(2) h6 {
  background-color: #cdebbc;
}
.feature:nth-child(3) h6 {
  background-color: #d1e8f2;
}
.feature:nth-child(4) h6 {
  background-color: #cdd4f8;
}
.feature:nth-child(5) h6 {
  background-color: #f6dbf6;
}
.feature:nth-child(6) h6 {
  background-color: #fff2e5;
}

/* Product lists */

#product1 {
  text-align: center;
}

.pro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} 

.pro-container .pro{
  width: 23%;
  min-width: 250px;
  padding: 12px 12px;
  border: 1px solid #cce7d0;
  border-radius: 20px;
  margin-bottom: 10px;
}

.pro-container img {
  border-radius: 20px;
  width: 100%;
}

.pro-container .pro:hover {
  cursor: pointer;
  box-shadow: 10px 10px 50px rgba(70, 62, 221, 0.2);
}

/* Product discription */

.pro-container .discription {
  text-align: left;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
#brandGrid {
  grid-row: 1;
  grid-column: 1;
}

#T-styleGrid{
  grid-column: 1 / span 2 ;
  grid-row: 2 ;
}
#starsforgrid{
  grid-column: 1 / span 2 ;
  grid-row: 3 ;
}
#priceGrid{
  grid-column: 1 / span 2  ;
  grid-row: 4 ;
}
#cartGrid{
  font-size: 20px;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  justify-self: end;
  align-self: end;
}

.pro-container .discription span {
  font: 8PX;
  color: rgba(0, 0, 0, 0.4);
}

.pro-container .discription h5 {
  font-size: 18px;
}

.pro-container .discription .starts {
  color: orange;
}

.pro-container .pro .price {
  color: green;
}

.pro-container .productCart #cart {
  color: limegreen;
  padding: 15px;
  border-radius: 50%;
  background-color: rgb(212, 249, 212);
}

/* Second banner */

#banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-image: url(img/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  justify-content: center;
  background-position: center;
}

#banner h2, h5   {
  color: white;
  padding: 10px 0px;
}

#banner h5 {
  font-size: 16px;
}

#banner h2 span {
  color: red;
}

.normal {
  padding: 10px 15px;
  font-weight: 600;
  cursor: pointer;
  margin: 10px 10px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 4px;
  transition: 0.2s;
}

#banner button:hover {
  background-color: #088178;
  color: #fff;
} 

/* Small banners */

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 80px;
}

#sm-banner .banner-box{
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: start;
  min-width: 580px;
  width: 667px;
  background-image: url("img/banner/b17.jpg");
  height: 50vh;
  background-size: cover;
  background-position: center;
}

#product1 h5 {
  color: #000;
  margin-left: 0px;
}

#sm-banner .banner-box h2,h5 {
  margin-left: 20px;
  text-align: start;
  align-content: center;
  color: #fff;
}

#sm-banner .banner-box h2 {
  font-size: 30px;
}

#sm-banner .banner-box button {
  margin-left: 20px;
  padding: 5px 10px;
  outline: none;
  border: 1px solid #fff;
  border-radius: 4px;
  font-weight: 600;
  color: #fff;
  background: transparent;
  cursor: pointer;
}

#sm-banner .banner-box:hover button {
  background-color: #088178;
  color: #fff;
  border: 1px solid black;
}  

#sm-banner #banner2{
  background-image: url("img/banner/b10.jpg");
}

#Text-banner {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 20px 60px 50px 60px;
}

/* Text banner */

#Text-banner .banner-box {
color: #fff;
min-width: 30%;
height: 40vh;
display: flex;
flex-direction: column;
justify-content: space-evenly;
justify-content: center;
align-content: center;
background-image: url("img/banner/b7.jpg");
background-size: cover;
background-position: center;
margin: 0px 10px;
}

#Text-banner #Text-banner1 h2 {
  font-size: 28px;
  margin-left: 10px;
}
#Text-banner #Text-banner2 {
background-image: url("img/banner/b4.jpg");
} 
#Text-banner #Text-banner2 h2{
  margin-left: 10px;
  font-size: 28px;
}
#Text-banner #Text-banner3 {
background-image: url("img/banner/b18.jpg");
}
#Text-banner #Text-banner3 h2 {
  margin-left: 10px;
  font-size: 28px;
}


#newsLetter {
  display: flex;
  padding: 40px 60px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("img/banner/b14.png");
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsLetter h2 {
  color: #fff;
  font-size: 28px;
  padding-left: 4%;
}
#newsLetter h5 {
  color: #6d6d6d;
}
#newsLetter h5 span {
  color: #ff9412;
}

.signUpinput {
  display: flex ;
}

.signUpinput input {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  width: 350px;
  height: 3.125rem;
  padding: 0 1.25em;
  border: 1px solid transparent;
  outline: none;
}

.signUpinput button {
  margin-left: 0px;
  background-color: #088178;
  color: #fff;
  margin: 0px;
  white-space: nowrap;
}

/* Footer */

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer h5 {
  color: #000;
}
.footer h5 {
  margin-left: 0px;
  margin-bottom: 10px;
}

.footer .col {
  display: flex;
  flex-direction: column;
  align-content: start;
}
.footer .col h4 {
margin-bottom: 20px;
}

.footer .col a {
  text-decoration: none;
  color: #222;
  margin-bottom: 15px;
}

.footer .Install .Dpp {
  border: 2px solid #088178;
  border-radius: 6px;
}

.footer .firstsection img {
  margin-bottom: 30px;

}

.footer .sociallinks i {
  margin: 5px;
}

.footer .sociallinks i:hover,
.footer .col a:hover {
  color: #088178;
} 

.footer .copywrite {
  width: 100%;
  text-align: center;
}




/* Shop Page */

#header {
  background-image: url("/img/banner/b1.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 14px;
}

#header h2 {
  color: #fff;
}

#header p{
  color: #fff;
  
}


#paginatio a {
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 15px;
  background-color: #088178;
}

#paginatio a:nth-child(1) {
  padding: 15px 17px;
  font-size: 16px;
}
#paginatio span {
  position: relative;
  top: 5px;
  padding: 0px;
  font-size: 18px;
  font-weight: 900;
}

#paginatio {
  text-align: center;
}


/* Single Product */

#producditails {
  display: flex;
  padding-top: 5%;
}

#producditails .single-pro-details {
  width: 50%;
  margin-left: 30px;
}

#producditails .single-pro-image{
  width: 35%;
  margin-right: 40px;  
}

#producditails .small-img-grp {
  display: flex;
  justify-content: space-between;
}

#producditails .small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

.single-pro-details h6 {
  margin-bottom: 20px;
}
.single-pro-details h4 {
  margin-bottom: 20px;
}
.single-pro-details h2 {
  margin-bottom: 10px;
}
.single-pro-details select {
  padding: 5px 10px;
  
}

.single-pro-details select:focus {
  outline: none;
}

.single-pro-details span {
  line-height: 22px;
}


.single-pro-details input {
  width: 50px;
  height: 35px;
  margin-right: 5px;
  font-size: 16px;
}

.single-pro-details input:focus {
  outline: none;
}

.single-pro-details button {
  background-color: #088178;
  font-size: 16px;
  color: #fff;
}

.new-arrivals h2 , p {
  color: #000;
}

.new-arrivals {
  text-align: center;
}

.pro-container .discription h5 {
  color: #000;
  margin-left: 0;
}
/* Blog Page */

#header.blog-header {
  background-image: url("/img/banner/b19.jpg");
}  

#blog {
  padding: 150px 150px 0px 150px;
  
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-image{
  width: 50%;
  background-position: top 10%;
}

#blog img {
  width: 80%;
  height: 350px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
  padding: 20px;
}


#blog .blog-details a::after {
  content: "";
  width: 70px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 24px;
  right: -60px;
}

#blog .blog-details a:hover {
  color: #088178;
}

#blog .blog-details a:hover::after {
  background-color: #088178;
}

#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -9;
}



/* About Page */

#header.about-header {
  background-image: url("/img/about/banner.png");
}

#about-head {
  display: flex;
  align-items: center;
}

#about-head img {
  width: 40%;
  padding: 30px 0px;
  height: auto;
}

#about-head div {
  padding-left: 40px;
  padding-right: 10=x ;
}

#about-app {
  text-align: center;
}


#about-app .about-video  video{
  border-radius: 20px;
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}


/* contact Page */

#newsLetter {
  margin-top: 30px;
}

#contact-details {
  display: flex ;
  align-items: center;
  justify-content: center;
}

#contact-details .details {
  width: 40%;
}

#contact-details .details span,
#form-details form  {
  font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0px;
}
#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}
#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}

#contact-details .details p {
  margin: 0;
  font-size: 14px;
}

#contact-details .google-map {
  width: 55%;
  height: 400px;
  padding: 20px;
}

#contact-details .google-map iframe {
  width: 100%;
  height: 100%;
}

#form-details {
  display: flex;
  justify-content:space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1 ;
}

#form-details form {
  display: flex;
  width: 65%;
  flex-direction: column;
  align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-details form button {
  background-color: #088178;
  color: white;
}

#form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}

#form-details .people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}

#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}

#form-details .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

/* Cart-page */

#cart {
  overflow-x: auto;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
  text-align: center;
  justify-items: center;
}

#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table tbody tr td {
  padding-top: 20px;

}

#cart table tbody td {
  font-size: 14px;
}

#cart table img {
  width: 70px;
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2) {
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
  text-align: center;
}
#cart table td:nth-child(5) {
  width: 70px;
  padding: 10px 5px 10px 15px;
  text-align: center;
}

#cart-add {
  display: flex;
  justify-content: space-between;
}

#coupon {
  width: 50%;
  margin-bottom: 30px;
}

#coupon h3,
#subtotal  {
  padding-bottom: 15px;
}

#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
  color: white;
  background-color: #088178;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}



/* Responsive */

/* For ipad */

@media (max-width:820px) {
  
  .section-p1 {
    padding: 40px 40px;
  }
  
  
  #navUl {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
    
  }
  #slideMenu {
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  
  #slideMenu.active {
    right: 0px;
    z-index: 1;
  }
  
  #nav ul li {
    margin-bottom: 25px;
  }
  #nav .mobile  {
    display: flex;
    padding-top: 8px;
  }
  
  #nav > section > a > span {
    position: relative;
  }
  
  #nav > section > a > span:hover::after, 
  #nav > section > a > span.active::after {
    content: "";
    color: #088178;
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }
  
  #nav > section > a > span:hover {
    color: #088178;
  }
  
  #hamMenu {
    cursor: pointer;
  }
  
  .mobile span {
    padding-left: 20px;
    color: #1a1a1a;
    font-size: 24px;
  }
  
  .navLi a .ShoppingCart {
    display: none;
  }
  
  #close {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    color: #222;
  }
  
  #mainBanner {
    height: 70vh;
    padding: 0px 40px;
    background-position: top 30% right 25%;
  }
  
  #groupOfFeatures {
    justify-content: center;
  }
  
  .feature {
    margin: 20px;
  }
  
  .pro-container {
    justify-content: center;
  }
  
  .pro-container .pro {
    margin: 20px;
  }
  
  #banner {
    height: 20vh;
  }
  
  #sm-banner .banner-box {
    height: 30vh;
  }
  
  
  #Text-banner .banner-box {
    width: 28%;
    height: 25vh;
    margin: 6px;
  }
  
  /* Single Product Page */
  
  #newsLetter {
    align-items: center;
    justify-content: center;
  }
  
  .pro-container .pro {
    margin: 30px;
  }
  
  /* About */
  #header.about-header {
    height: 25vh;
  }
  
  /* Contact */
  
  #form-details {
    margin: 20px;
    padding: 40px;
  }
  
  #form-details form {
    width: 50%;
  }
  
  #form-details .people {
    padding-top: 40px;
  }
  
  body > footer > div.firstsection > p:nth-child(3) {
    text-wrap: wrap;
  }
  
  #nav .mobile span.active {
    color: #088178;
    position: relative;
  }
  
  #nav .mobile span.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }


  /* Cart-page */
  
}
/* For Mobile Devices */

@media (max-width: 477px) {
  #nav {
    padding: 10px 30px;
  }
  #mainBanner {
    height: 50vh;
    padding: 0px 20px;
  }
  h2 {
    font-size: 22px;
    line-height: 34px;
  }
  h1 {
    font-size: 28px;
    line-height: 44px;
    color: #222;
  }
  p {
    font-size: 12px;
    color: #465b52;
    margin: 6px 0 8px 0;
  }
  #mainBanner button {
    padding: 7px 40px 14px 20px;
    width: 200px;
    font-size: 12px;
  }
  .section-p1 {
    padding: 10px 10px;
  }
  .feature {
    margin: 10px;
  }
  .feature {
    text-align: center;
    width: 140px;
    padding: 25px 15px;
    margin: 15px 15px;
    transition: 0.3s ease;
  }
  .pro-container .pro {
    width: 80%;
  }
  #banner {
    height: 25vh;
  }
  #sm-banner {
    padding: 0px;
  }
  #sm-banner .banner-box {

    height: 30vh;
    margin: 15px;
    width: 360px;
    min-width: 350px;
  }
  #Text-banner .banner-box {
    width: 100%;
    height: 25vh;
    margin: 10px;
  }
  #Text-banner {
    margin-top: 20px;
    padding: 5px;
  }
  #newsLetter {
    padding: 20px;
  }
  .signUpinput input {
    padding: 0px;
    width: 250px;
    height: 2.5rem;
    padding: 0 1.25em;
  }
  #newsLetter h2 {
    padding-left: 0;
  }
  #sm-banner .banner-box h2, h5 {
    margin-left: 0px;
  }

  #producditails {
    flex-direction: column;
    align-items: center;
  }

  #producditails .single-pro-image {
    width: 100%;
    margin: 10px;
  }

  #producditails .single-pro-details {
    width: 100%;
    margin: 20px;
  }

  /* Blog Page */

  #blog .blog-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #blog {
    padding: 100px 20px 0px 20px;
  }

  #blog img {
    width: 133%;
    height: 350px;
    object-fit: cover;
    margin-bottom: 20px;
  }

  #blog .blog-box {
    width: 150%;
    padding-bottom: 80px;
  }
  
  .section-p1 {
    padding: 30px ;
  }

  /* About Page */
  #about-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  #about-head img {
    width: 100%;
    padding: 15px 0px;
    margin-bottom: 20px;
  }

  #about-app .about-video video {
    border-radius: 20px;
    width: 100%;
  }

  #about-head div {
    padding: 10px 15px;
  }

  #groupOfFeatures.section-p1 {
    padding: 0px;
  }

  /* Contact Page */

  #contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #contact-details .details {
    width: 100%;
    margin-bottom: 30px;
  }

  #contact-details .google-map {
    width: 100%;
  }
  .section-p1 {
    padding: 10px;
  }

  #form-details {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
    border: 1px solid #e1e1e1;
  }
  #form-details form {
    width: 100%;
    margin-bottom: 30px;
  }

  /* Cart-page */

  #nav .mobile span.active {
    color: #088178;
    position: relative;
  }

  #nav .mobile span.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }

  #cart-add {
    flex-direction: column;
  }

  #coupon {
    padding-top: 20px;
    align-content: center;
    width: 100%;
  }

  #subtotal {
    width: 100%;
    padding: 20px;
  }
